/* client/src/index.css A*/
@font-face {
    font-family: "Franklin-Gothic-Condensed";
      src: url(data:application/vnd.ms-fontobject;base64,AAEAAA...) format('embedded-opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Franklin-Gothic-Heavy";
    src: url(data:application/vnd.ms-fontobject;base64,AAEAAA...) format('embedded-opentype');
    font-style: normal;
    font-weight: normal;
}

* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --charcoal: #191d1a;
    --white: #fff;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000;
    -webkit-text-size-adjust: 100%;
    line-height: 1.7;
    min-height: 100vh;
}

header {
    font-family: "Franklin-Gothic-Heavy", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    color: #ff4814;
    font-weight: 800;
    font-size: 64px;
    letter-spacing: -1px;
    text-align: center;
    justify-content: center;
    height: 200px;
}

header h1 {
    margin-top: 3px;
}

header h1 span {
    font-size: larger;
    letter-spacing: -5px;
}

header h2 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 0;
}

footer {
    margin: 48px 28vw;
    padding: 24px;
    background-image: url("path/to/image.jpg");    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Franklin-Gothic-Condensed", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    color: #ff4814;
    font-size: 32px;
    text-align: center;
}

footer h2 {
    text-decoration: underline;
}

#root {
    display: flex;
    justify-content: center;
}

.lapd-departure-date {
    background: #ff4814;
    font-size: 24px;
    font-weight: 800;
    align-self: center;
    margin-bottom: 30px;
    padding: 8px;
}

.neutral-background {
    background-color: #f4e9c4;
}

.highlight-background {
    background-color: #fff38b;
}

.divisions-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divisions-content a {
    text-decoration: underline;
    font-weight: bold;
}

.divisions-content h1 {
    font-size: 14px;
    padding: 14px;
    max-width: 44vw;
    background-color: #ff4207;
    color: black;
    margin-bottom: 46px;
}

.divisions-content table {
    font-size: 14px;
}

.divisions-content tr {
    background: #9c9888;
    color: black;
    border: 1px solid black;
}

.divisions-content tr:nth-child(even) {
    background-color: #aaa393;
}

.divisions-content tr:hover, .divisions-content tr:nth-child(even):hover {
    background-color: #f1e7d1;
}

.divisions-content tr:first-child:hover {
    background-color: #9c9888;
}

.divisions-content th {
    padding: 12px;
    font-size: 18px;
    border: 1px solid black;
}

.divisions-content td {
    padding: 12px;
}

.divisions-content td:nth-child(1n+2) {
    text-align: right;
}

.divisions-content ul {
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    background: #232323;
    border-radius: 10px;
    margin: 24px 18px;
    font-family: "Helvetica", HelveticaNeue, Helvetica Nueue, sans-serif;
}

.divisions-content ul li {
    padding: 14px 12px;
}

.divisions-content ul li a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.divisions-content ul li:nth-child(even) {
    background-color: #111010;
}

.home-links {
    display: flex;
    justify-content: center;
}

.home-links ul {
    display: flex;
    flex-direction: row;
    margin: 14px 0;
    color: #ff5722;
    text-decoration: underline;
}

.home-links ul li {
    display: flex;
    margin: 0 14px;
    padding: 12px;
    height: 42px;
    align-items: center;
    border-radius: 3px;
}

.home-links ul li:hover {
    background-color: #16191d;
    color: #ff3d00;
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        font-size: 48px;
        height: 130px;
    }

    header h2 {
        font-size: 18px;
    }
}

@media (min-width: 562px) and (max-width: 887px) {
    .divisions-content ul {
        font-size: 16px;
    }

    header {
        font-size: 40px;
        height: 100px;
    }

    header h2 {
        font-size: 15px;
    }

@media (max-width: 562px) {
    .divisions-container {
        padding: 0 10px;
    }

    .divisions-content h1 {
        margin: 24px 0 46px 0;
        min-width: 90vw;
        font-size: 12px;
        padding: 12px;
        max-width: 56vw;
    }

    .divisions-content ul {
        font-size: 14px;
    }

    .divisions-content th {
        padding: 8px 4px 8px 4px;
        font-size: 12px;
        border: 1px solid black;
    }

    .divisions-content td {
        padding: 6px 4px 6px 4px;
        font-size: 10px;
    }

    .division-container table {
        font-size: 10px;
    }

    html, body {
        height: fit-content;
    }

    header {
        height: 100%;
    }

    header h1 {
        display: flex;
        flex-wrap: wrap;
        margin: 21px 12px 12px;
        font-size: 52px;
        line-height: 50px;
    }

    header h2 {
        font-size: 21px;
        line-height: normal;
        margin: 12px 15vw;
    }

    .search-container {
        width: 80vw;
    }

    footer {
        font-size: 21px;
        margin: 48px 12px;
    }

    .division-container {
        padding: 24px;
    }

    .division-container h2 {
        font-size: 14px;
        text-align: center;
    }

    .about-container {
        width: 90vw;
    }
}

/*! For license information please see index.min.css.LEGAL.txt */
/*# sourceMappingURL=index.min.css.map */
