.profile-container {
    background: #fff5d8;
    color: black;
    width: 80vw;
    margin: 40px auto;
    padding: 40px;
    border-radius: 14px;
}

.profile-name {
    text-align: center;
    font-size: 46px;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.profile-main {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.profile-image img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.profile-info {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-info a {
    color: #ff4814;
    font-weight: bold;
    text-decoration: underline;
}

.profile-history {
    background: #f4e9c4;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

.profile-history h2 {
    font-size: 26px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
