body {
  margin: 0;
  font-family: monospace;
  background: #000;
  color: white;
}

.admin-header {
  text-align: center;
  padding: 32px;
  background: #ff4814;
  color: black;
  text-transform: uppercase;
}

.admin-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}

.admin-form {
  background: #fff5d8;
  color: black;
  padding: 24px;
  border-radius: 12px;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.admin-form input,
.admin-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #f4e9c4;
}

.save-btn {
  background: #ff4814;
  padding: 14px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
}

.officer-list {
  width: 45%;
}

.officer-list ul {
  list-style: none;
  padding: 0;
}

.officer-list li {
  background: #232323;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.officer-list a {
  color: #ff4814;
  text-decoration: underline;
}
