.admin-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.admin-card {
    background: #fff5d8;
    padding: 30px;
    border-radius: 14px;
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: black;
}

.admin-card input,
.admin-card select,
.admin-card textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.admin-card button {
    padding: 12px;
    background: #ff4814;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
